In [1]:
import pandas as pd

In [7]:
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data)
print(series)
series = pd.Series(data, index = index)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns = ['c0', 'c1', 'c2'], index = ['r0', 'r1', 'r2'])
print(df)

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [2]:
obesity_data = pd.read_csv('/kaggle/input/obesity-prediction-dataset/Obesity prediction.csv')

In [11]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [13]:
obesity_data.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [14]:
obesity_data.head(3)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight

In [16]:
obesity_data.tail(6)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [18]:
obesity_data.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1081,Male,17.441593,1.7,83.414072,yes,no,2.061384,2.579291,Sometimes,no,1.909253,no,1.0,0.962468,Sometimes,Public_Transportation,Overweight_Level_II

In [19]:
obesity_data.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
696,Male,18.525834,1.776989,57.275946,yes,yes,2.000000,3.747163,Sometimes,no,2.575535,no,2.000000,1.843830,no,Automobile,Insufficient_Weight
2056,Female,26.000000,1.624099,109.978402,yes,yes,3.000000,3.000000,Sometimes,no,2.523793,no,0.000000,0.383953,Sometimes,Public_Transportation,Obesity_Type_III
997,Female,23.000000,1.668649,80.458343,yes,yes,2.000000,2.256119,Sometimes,no,1.142873,no,0.807076,1.611271,no,Public_Transportation,Overweight_Level_II
2093,Female,26.000000,1.645990,111.922491,yes,yes,3.000000,3.000000,Sometimes,no,2.786780,no,0.000000,0.097760,Sometimes,Public_Transportation,Obesity_Type_III
1099,Female,19.821996,1.653431,75.090439,yes,no,2.766036,2.443812,Sometimes,no,2.707927,no,0.702839,0.827439,Sometimes,Public_Transportation,Overweight_Level_II

In [22]:
obesity_data.sample(3, random_state = 7)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1554,Male,21.963787,1.849601,122.333425,yes,yes,3.0,2.218285,Sometimes,no,1.340117,no,0.428259,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
1918,Female,21.238416,1.763847,133.937873,yes,yes,3.0,3.000000,Sometimes,no,2.836791,no,1.467820,0.890527,Sometimes,Public_Transportation,Obesity_Type_III
1839,Female,18.367481,1.745644,133.665587,yes,yes,3.0,3.000000,Sometimes,no,2.900857,no,1.508897,0.625371,Sometimes,Public_Transportation,Obesity_Type_III

In [23]:
obesity_data.sample(3, random_state = 9)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1652,Male,25.058566,1.764484,113.234349,yes,yes,1.517912,3.000000,Sometimes,no,2.038958,no,1.590255,0.001640,Sometimes,Public_Transportation,Obesity_Type_II
1018,Male,22.000000,1.691303,80.539000,yes,yes,2.000000,2.038373,Sometimes,no,2.000000,no,2.708250,1.506576,Sometimes,Public_Transportation,Overweight_Level_II
131,Male,23.000000,1.620000,58.000000,no,no,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,no,Public_Transportation,Normal_Weight

In [30]:
obesity_data.columns
obesity_data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [31]:
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [32]:
obesity_data.shape#rows and columns

(2111, 17)

In [33]:
obesity_data.size#rows * columns

35887

In [34]:
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [35]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [36]:
obesity_data.loc[0, 'Age']

21.0

In [39]:
obesity_data.loc[0:5, ['Age', 'Height', 'Weight']]

    Age  Height  Weight
0  21.0    1.62    64.0
1  21.0    1.52    56.0
2  23.0    1.80    77.0
3  27.0    1.80    87.0
4  22.0    1.78    89.8
5  29.0    1.62    53.0

In [41]:
obesity_data.loc[[0, 7, 10], ['Age', 'Height', 'Weight']]

     Age  Height  Weight
0   21.0    1.62    64.0
7   22.0    1.64    53.0
10  26.0    1.85   105.0

In [42]:
obesity_data.loc[0:3, 'Age':'Weight']

    Age  Height  Weight
0  21.0    1.62    64.0
1  21.0    1.52    56.0
2  23.0    1.80    77.0
3  27.0    1.80    87.0

In [46]:
obesity_data.loc[0:4, :]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [47]:
obesity_data.loc[:, 'Gender':'family_history']

      Gender        Age    Height      Weight family_history
0     Female  21.000000  1.620000   64.000000            yes
1     Female  21.000000  1.520000   56.000000            yes
2       Male  23.000000  1.800000   77.000000            yes
3       Male  27.000000  1.800000   87.000000             no
4       Male  22.000000  1.780000   89.800000             no
...      ...        ...       ...         ...            ...
2106  Female  20.976842  1.710730  131.408528            yes
2107  Female  21.982942  1.748584  133.742943            yes
2108  Female  22.524036  1.752206  133.689352            yes
2109  Female  24.361936  1.739450  133.346641            yes
2110  Female  23.664709  1.738836  133.472641            yes

[2111 rows x 5 columns]

In [ ]:
#Before this we would have actually seen the loc which is used for the label based indexing. 
#Now what we are seeing(iloc) is actually used for the index based indexing.
obesity_data.iloc[0:2, 0]#Note that the index 2 is not being included but in case of loc its actually being included.

0    Female
1    Female
Name: Gender, dtype: object

In [55]:
obesity_data.iloc[[10, 20], [0, 2, 3]]

   Gender  Height  Weight
10   Male    1.85   105.0
20   Male    1.65    80.0

In [56]:
obesity_data.at[0, "Age"]#It is similar to loc but (at) is only used for the single value access.

21.0

In [60]:
obesity_data.iat[0, 1]#It is similar to iloc but only for single value access.

21.0

In [61]:
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [4]:
#There is issue with this approach. Whenever the columns have the spacing then it would not work. So it advised to work with the previous approach.
obesity_data.Age

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [7]:
obesity_data[['Age', 'Height']]

            Age    Height
0     21.000000  1.620000
1     21.000000  1.520000
2     23.000000  1.800000
3     27.000000  1.800000
4     22.000000  1.780000
...         ...       ...
2106  20.976842  1.710730
2107  21.982942  1.748584
2108  22.524036  1.752206
2109  24.361936  1.739450
2110  23.664709  1.738836

[2111 rows x 2 columns]

In [8]:
########################FILETERING DATA############################################################

In [9]:
 obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [11]:
obesity_data.loc[obesity_data['Height']>1.7]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
8,Male,24.000000,1.780000,64.000000,yes,yes,3.0,3.0,Sometimes,no,2.000000,no,1.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
9,Male,22.000000,1.720000,68.000000,yes,yes,2.0,3.0,Sometimes,no,2.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [13]:
obesity_data.loc[obesity_data['Weight']<50]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
37,Female,21.000000,1.600000,48.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.000000,1.500000,44.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
60,Female,21.000000,1.550000,49.000000,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [16]:
obesity_data.loc[(obesity_data['Weight']<50) & (obesity_data['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [17]:
obesity_data.loc[(obesity_data['Weight']<50) | (obesity_data['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [18]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [20]:
obesity_data.loc[obesity_data['MTRANS'].str.startswith('Public')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
7,Male,22.000000,1.640000,53.000000,no,no,2.0,3.0,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [21]:
######################################UPDATING DATA#########################################

In [26]:
obesity_data.loc[0, 'Age'] = 21
print(obesity_data.loc[0, 'Age'])
obesity_data.loc[0, 'Age'] = 22
print(obesity_data.loc[0, 'Age'])

21.0
22.0

In [28]:
obesity_data.loc[ : , 'SMOKE'] = 'yes'

In [29]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [32]:
obesity_data.loc[0:3, 'Height'] = 1.6
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [33]:
obesity_data.loc[ :2, 'SMOKE'] = 'no'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [34]:
obesity_data.iloc[0,9] = 'yes'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [36]:
obesity_data.at[0, 'Gender'] = 'Male'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Male,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [38]:
obesity_data.iat[0, 0] = 'Female'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [41]:
def increment_age_by_5(x):
    return x+5

obesity_data['Age'] = obesity_data['Age'].apply(increment_age_by_5)#We want to understand that the apply doesn't change the actaul data.

obesity_data['Age']

0       27.000000
1       26.000000
2       28.000000
3       32.000000
4       27.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64

In [42]:
#Here is a much simpler way of doing the above things when we want to make such simpler calculations.
obesity_data['Age'] = obesity_data['Age'].apply(lambda x : x - 5)
obesity_data['Age']

0       22.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [44]:
obesity_data['AgeCategory'] = obesity_data['Age'].apply(lambda x : 'Very Young' if x < 25 else 'Not very young')
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,AgeCategory
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not very young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [47]:
#inserting the column
obesity_data.insert(2, 'BMMI', 12)
obesity_data.head()

,Gender,Age,BMMI,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,AgeCategory
0,Female,22.0,12,12,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,12,12,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,12,12,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,12,12,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not very young
4,Male,22.0,12,12,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [48]:
obesity_data.drop(columns = 'BMMI')#Drop doesn't expliclity delete in the original  dataframe!.
obesity_data.head()

,Gender,Age,BMMI,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,AgeCategory
0,Female,22.0,12,12,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,12,12,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,12,12,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,12,12,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not very young
4,Male,22.0,12,12,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [49]:
obesity_data.drop(columns = 'BMMI', inplace = True)
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,AgeCategory
0,Female,22.0,12,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,12,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,12,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,12,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not very young
4,Male,22.0,12,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [50]:
obesity_data.drop(columns = 'BMI', inplace = True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,AgeCategory
0,Female,22.0,1.60,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
1,Female,21.0,1.60,56.0,yes,no,3.0,3.0,Sometimes,no,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Not very young
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young

In [6]:
bmi = obesity_data['Weight']/obesity_data['Height']**2
obesity_data.insert(4, 'BMI', bmi)#insert excepts everything to be a series so the lambda function is not allowed.
obesity_data.head()

,Gender,Age,Height,Weight,BMI,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,24.386526,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,24.238227,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,23.765432,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,26.851852,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,28.342381,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [7]:
del obesity_data['BMI']
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [9]:
obesity_data.rename(columns = {'Obesity' : 'Category'})#The changes will not be relected in the original dataframe
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [10]:
obesity_data.rename(columns = {'Obesity' : 'Category'}, inplace = True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [11]:
obesity_data.rename(columns = {'Category' : 'Obesity', 'CALC' : 'CAL'}, inplace = True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CAL,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [12]:
#############################MERGE, JOIN & CONCATENATE DATAFRAMES #######################################

In [14]:
df1 = pd.DataFrame({
    'id' : [1, 2, 3, 4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df2 = pd.DataFrame({
    'id' : [3, 4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})

In [16]:
inner_result = pd.merge(df1, df2, how = 'inner', on = 'id')#Here the inner actually acts as the index.
inner_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP

In [17]:
outer_result = pd.merge(df1, df2, how = 'outer', on = 'id')#Here the outer actually as the union
outer_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP
4   5       NaN    HLD
5   6       NaN    LLD

In [18]:
left_result = pd.merge(df1, df2, how = 'left', on = 'id')#Here the left actually null values from the union. Note : df1=>LEFT, df2=>RIGHT
left_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP

In [19]:
right_result = pd.merge(df1, df2, how = 'right', on = 'id')#Here the right acutually null values from the union. Note : df1=>LEFT, df2=>RIGHT
right_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP
2   5       NaN    HLD
3   6       NaN    LLD

In [21]:
#Sometimes the common column could have the different id name(EX: id1 and id2).
df3 = pd.DataFrame({
    'id1' : [1, 2, 3, 4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df4 = pd.DataFrame({
    'id2' : [3, 4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})

inner_result = pd.merge(df3, df4, how = 'inner', left_on = 'id1', right_on = 'id2')
inner_result

   id1      name  id2 course
0    3  Educosys    3  GenAI
1    4   YouTube    4    CPP

In [3]:
df1 = pd.DataFrame({
    'id' : [1, 2, 3, 4],
    'name' : ['Keerti', 'Amit', 'Educosys', 'YouTube']
})

df2 = pd.DataFrame({
    'id' : [3, 4, 5, 6],
    'course' : ['GenAI', 'CPP', 'HLD', 'LLD']
})

result1 = pd.concat([df1, df2], axis = 0, ignore_index = True)#Axis(0) indicates that vertical concat. Ignore the default index and create your own index.
result1

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys    NaN
3   4   YouTube    NaN
4   3       NaN  GenAI
5   4       NaN    CPP
6   5       NaN    HLD
7   6       NaN    LLD

In [4]:
result2 = pd.concat([df1, df2], axis = 1, ignore_index = True)#Axis(1) indicates that horizon concat. Ignore the default index and create your own index.
result2

   0         1  2      3
0  1    Keerti  3  GenAI
1  2      Amit  4    CPP
2  3  Educosys  5    HLD
3  4   YouTube  6    LLD

In [9]:
result3 = pd.concat([df1, df2], axis = 0, keys = ['df1', 'df2'])#This helps to index the data set.
result3

       id      name course
df1 0   1    Keerti    NaN
    1   2      Amit    NaN
    2   3  Educosys    NaN
    3   4   YouTube    NaN
df2 0   3       NaN  GenAI
    1   4       NaN    CPP
    2   5       NaN    HLD
    3   6       NaN    LLD

In [7]:
############################HANDLING THE NULL VALUES##########################################

In [10]:
result3.isna()

          id   name  course
df1 0  False  False    True
    1  False  False    True
    2  False  False    True
    3  False  False    True
df2 0  False   True   False
    1  False   True   False
    2  False   True   False
    3  False   True   False

In [11]:
result3.notna()

         id   name  course
df1 0  True   True   False
    1  True   True   False
    2  True   True   False
    3  True   True   False
df2 0  True  False    True
    1  True  False    True
    2  True  False    True
    3  True  False    True

In [12]:
result3.isna().sum()

id        0
name      4
course    4
dtype: int64

In [13]:
result3.notna().sum()

id        8
name      4
course    4
dtype: int64

In [14]:
import numpy as np

In [15]:
obesity_data.loc[0, 'Age'] = np.nan

In [16]:
obesity_data.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [18]:
obesity_data.isna().sum()

Gender            0
Age               1
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [19]:
obesity_data.loc[0, 'SMOKE'] = np.nan
obesity_data.loc[2, 'family_history'] = np.nan

In [20]:
obesity_data.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,Sometimes,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [21]:
obesity_data.fillna(0, inplace = True)#The change wil not be reflected unless inplace = True is being used.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,0.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,0,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,0,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [24]:
obesity_data.loc[0, 'Age'] = np.nan
obesity_data['Age'] = obesity_data['Age'].fillna(obesity_data['Age'].mean())
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [26]:
obesity_data.fillna({'family_history' : 'no', 'SMOKE' : 'no'}, inplace = True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,no,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [28]:
obesity_data.loc[2, 'Age'] = np.nan
obesity_data['Age'].fillna(obesity_data['Age'].interpolate(), inplace = True)
obesity_data.head()

/tmp/ipykernel_31/4155557372.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  obesity_data['Age'].fillna(obesity_data['Age'].interpolate(), inplace = True)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,24.00000,1.80,77.0,no,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [30]:
obesity_data.loc[2, 'Age'] = np.nan
obesity_data.dropna(inplace = True)

In [31]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.00000,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight

In [32]:
obesity_data.groupby('Gender')['Weight'].agg(['sum'], ['mean'])

                 sum
Gender
Female  85841.365833
Male    96864.802872